# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
site-packages/
venv/
.venv/
env/
.env/
ENV/

# llm directories and tarballs
llm*/
llm*.tar*
llm*.tgz
